html,
body {
  background: var(--default);
  margin: 0;
  padding: 0;
}

:root {
  --default: #121213;
  --wrong: #3a3a3c;
  --wrongLocation: #b59f3b;
  --correct: #538d4e;
  --timeout: #d0460a;
}

#game {
  display: grid;
  place-items: center;
  width: 100%;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
  margin: 0;
}

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  margin: 0;
}

.keysGrid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
}

.box {
  width: 60px;
  height: 60px;
  display: grid;
  border: 2px solid var(--wrong);
  margin: 4px;
  color: white;
  text-transform: uppercase;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}

.box.wrong {
  background: var(--wrong);
}
.box.wrongLocation {
  background: var(--wrongLocation);
}

.box.correct {
  background: var(--correct);
}

.box.timeout {
  border: 2px solid var(--timeout);
}

.animated {
  animation: flip 0.5s ease;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

button {
  padding: 12px;
  font-size: 20px;
  border-radius: 4px;
  border: #121213 solid 1px;
  cursor: pointer;
  background-color: #818384;
  color: white;
  touch-action: manipulation;
}

button:hover {
  background-color: var(--wrong);
}

button:active {
  background-color: #ddd;
}

.keys {
  margin: 1px;
}

.keys.wrong {
  background: var(--wrong);
}
.keys.wrongLocation {
  background: var(--wrongLocation);
}
.keys.correct {
  background: var(--correct);
}

.time-select-checkbox {
  accent-color: #538d4e;
  height: 25px;
  width: 25px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #keyboard {
    height: auto;
  }

  .keysContainer,
  .keysContainerBottom {
    display: flex;
    width: 100%;
    margin: 0;
  }

  #game {
    display: grid;
    place-items: start;
    justify-content: center;
    width: 100%;
    height: 435px;
    margin-top: 40px;
  }

  .keysContainerMiddle {
    display: flex;
    width: 92%;
  }

  .keysContainer > .keys,
  .keysContainerMiddle > .keys,
  .keysContainerBottom > .keys {
    padding: 0.3em;
    height: 60px;
    flex: 1;
    margin: 1px;
  }
}

@media only screen and (max-width: 480px) {
  .keysContainer,
  .keysContainerBottom {
    display: flex;
    width: 100%;
    margin: 0;
  }

  #game {
    display: grid;
    place-items: start;
    justify-content: center;
    width: 100%;
    height: 435px;
    margin-top: 15px;
  }

  .keysContainerMiddle {
    display: flex;
    width: 92%;
  }

  .keysContainer > .keys,
  .keysContainerMiddle > .keys,
  .keysContainerBottom > .keys {
    padding: 0.3em;
    height: 60px;
    flex: 1;
    margin: 1px;
  }
}
